[Unit]
Description=Verify nvidia and switcheroo
Before=multi-user.target display-manager.service gdm.service sddm.service lightdm.service
After=mhwd-live.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=mhwd-verify-hybrid-boot

[Install]
WantedBy=graphical.target
